/*COLORS*/
.themed-color {
    color: #1bbae1
}

.themed-border {
    border-color: #1bbae1
}

.themed-background {
    background-color: #1abc9c;
}

.themed-background-dark {
    background-color: #2f907d;
}

.themed-color-dark {
    color: #2f907d;
}

.themed-border-dark {
    border-color: #2f907d;
}

















.themed-background-danger {
    background-color: #e74c3c !important
}

.themed-background-warning {
    background-color: #e67e22 !important
}

.themed-background-info {
    background-color: #3498db !important
}

.themed-background-success {
    background-color: #27ae60 !important
}

.themed-background-muted {
    background-color: #999 !important
}

.themed-background-muted-light {
    background-color: #f9f9f9 !important
}