
@model IEnumerable<Bageriet.Models.Ingrediens>
 
<label class="col-md-3 control-label">Ingrediens</label>
    
    
 @foreach (var item in Model)
 {
     <span class="ingredienses" data-id="@item.Id">@item.Name</span>
 }   
    
<input name="IngrediensId" hidden=""/>





   