@model IEnumerable<Bageriet.Models.Ingredient>
    
@{
    ViewBag.Title = "ingredientsList";
    Layout = "~/Views/Shared/_LayoutPageBackend.cshtml";
}


<div id="page-content">
    <div class="content-header">

        <ul class="breadcrumb breadcrumb-top">
            <li>Ingredients</li>
            <li>Add new ingredients</li>

        </ul>

        <ul class="nav-horizontal text-center">
            <li>
                <a href="/Admin/ingredientsList"><i class="icon-bag"></i> Ingredients</a>
            </li>
            <li>
                <a href="/Admin/ingredientsCreate"><i class="icon-pencil"></i> Create Ingredients</a>
            </li>
        </ul>



    </div>
<div class="block block-alt-noborder">
    <a class="btn-top btn btn-default pull-right" style="margin-right: 15px;" href="/Admin/ingredientsCreate"> <span class="fa fa-plus"></span> Create New</a>
    <h3 class="sub-header">
        Ingredients
    </h3>

    <table class="table table-striped">

        <thead>
        <tr>
            <th>Name</th>
            <th class="text-right">Actions</th>
        </tr>
        </thead>

        <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td style="text-align: right">
                    <a class="btn btn-default" href="/admin/ingredientsDelete/@item.Id" aria-label="Settings">
                        <i class="icon-trash" aria-hidden="true"></i>
                        Delete
                    </a>
                    
                    <a class="btn btn-default" href="@Url.Action("ingredientsEdit", new {id = item.Id})" aria-label="Settings">
                        <i class="icon-wrench" aria-hidden="true"></i>
                        Edit
                    </a>
                </td>
            </tr>
        }

        </tbody>
    </table>
</div>
</div>

