@model IEnumerable<Bageriet.Models.Newsletter>

@{
    ViewBag.Title = "NewsletterList";
    Layout = "~/Views/Shared/_LayoutPageBackend.cshtml";
}


<div id="page-content">
    <div class="content-header">
        <ul class="breadcrumb breadcrumb-top">
            <li>Newsletter</li>
            <li>NewsletterList</li>

        </ul>
        <ul class="nav-horizontal text-center">
            <li>
                <a href="/Admin/NewsletterList"><i class="icon-calendar"></i> Newsletters</a>
            </li>
            <li>
                <a href="/Admin/NewsletterCreate"><i class="icon-drawer"></i> Create Newsletter</a>
            </li>
        
        </ul>
    </div>
    <div class="block block-alt-noborder">
        <a class="btn-top btn btn-default pull-right" style="margin-right: 15px;" href="/admin/NewsletterCreate"> <span class="fa fa-plus"></span> Create New</a>
        <h3 class="sub-header">
            NewsletterList
        </h3>

        <table class="table table-striped">

            <thead>
                <tr class="row-name">
                    <th>Title</th>
                </tr>
            </thead>

            <tbody>


                @foreach (var news in Model)
            {
                    <tr class="row-content">
                        <td>@news.Title</td>
                        <td>@Html.Raw(news.HtmlContent)</td>     
                        <td style="text-align: right">
                            <a class="btn btn-default" href="/admin/NewsletterDelete/@news.Id" aria-label="Settings">
                                <i class="icon-trash" aria-hidden="true"></i>
                            </a>

                            <a class="btn btn-default" href="@Url.Action("NewsletterList", new {id = news.Id})" aria-label="Settings">
                                <i class="icon-pencil" aria-hidden="true"></i>
                            </a>
                            <a class="btn btn-default" href="@Url.Action("NewsletterSend", new {id = news.Id})" aria-label="Settings">
                                <i class="icon-paper-plane" aria-hidden="true"></i>
                            </a>
                        </td>
                    </tr>
                }


            </tbody>
        </table>
    </div>
</div>
